*{
    margin: 0;padding: 0;box-sizing: border-box;
}
form{
    width: 80%;
    margin: auto;
    background: #0c2458;
    padding: 10px
}
label,input{
    display: block;text-align: center;
}
label{  
    color:#fff;
    padding: 10px;
}
input{
    width: 80%;
    margin: auto;
    font-size: 1.3em;
}
[type=submit]{
    margin: 10px auto;width:20%;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #0c2458;
    color: #fff;
}
header h2{
    margin:20px 5px;
}
header nav{
    margin:25px 10px;
}
header a{
    background:#a8a8a8;
    padding: 5px 10px;
}
h1{
    text-align: center;
}
table{
    width:80%;margin: auto;
}
table,th,td{
    border: .5px #696969 solid;
    border-collapse:collapse;
}
td{
    text-align: center;
    padding: 10px 0;
}
th{
    background: #0c2458;
    color:#fff;
    padding:5px 0;
}
tr{
    background: #e7e7e7;
}
tr:nth-child(odd){
    background: #a8a8a8;
}
a{
    color: inherit;
    text-decoration: none;
    font-size: .8em;
}
td a:hover{
    color: #0a0;
}
td a:last-child:hover{
    color: #a00;
}
